@import "@fontsource/aileron";

.header{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    img{
        width: 50px;
        height: 50px;
    }
    .titlecontainer{
        display: flex;
        align-items: center;
    }
    .title{
        font-family: "Aileron";
        font-weight: 100;
        cursor: pointer;
    }
    nav li{
        list-style: none;
        display: inline-block;
        padding: 0px 20px;
        a{
            text-decoration: none;
            color: black;
            font-family: "Aileron";
            font-weight: 200;

        }

    }
    

}