
    <div class="container-fluid content">
        <div class="bigLogo">
            <img src="../../assets/photo-1614149162883-504ce4d13909.avif" alt="">
        </div>
        <div class="explore">
            <div class="grid-item-1">
            <h1>The Sound of New Generation</h1>
                
            </div> 
            <div class="grid-item-2">
            <h1>Music</h1>
                
            </div> 
            <div class="grid-item-3">
                <h1>Vibe</h1>
            </div>
            <div class="grid-item-4">
                <h1>Play</h1>
            </div> 
            <!--<div class="grid-item-5">
                <h1>item 5</h1>
            </div> <div class="grid-item-6">
                <h1>item 6</h1>
            </div> <div class="grid-item-7">
                <h1>item 7</h1>
            </div> <div class="grid-item-8">
                <h1>item 8</h1>
            </div> <div class="grid-item-9">
                <h1>item 9</h1>
            </div> -->
        </div>
    </div>
